[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/wowchemy/wowchemy-hugo-modules.git
